[12:09 am, 31/03/2026] L: /* RESET */
html, body, header, footer, hgroup, nav, article, section, figure, figcaption,
h1, h2, h3, ul, li, div, p, img, table, tr, th, td, label, input, button, select, fieldset, legend {
    margin: 0;
    padding: 0;
    border: 0;html, body, header, footer, nav, h1, h2, h3, ul, li, div, p, label {
    margin: 0; padding: 0; border: 0; font-size: 100%;
}

.header-title {
    /* Gunakan font Lobster untuk gaya berangkai */
    font-family: 'Lobster', cursive;
    
    /* Tetapan gaya seperti dalam gambar */
    color: white;
    background-color: #3b5998; /* Biru gelap */
    font-size: 32px;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    font-weight: normal; /* Font jenis ini biasanya sudah tebal */
}
    
body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    color: #333;
}
header, .divmainNavigationRow, footer { width: 900px; margin: 0 auto; }

.divtopHeaderRow { background-color: #222; height: 30px; text-align: right; line-height: 30px; }
.divtopHeaderRow a { color: #999; margin-right: 20px; text-decoration: none; font-size: 12px; }
h1 { font-size: 50px; font-weight: bold; paddi…
[12:09 am, 31/03/2026] L: css 5
[12:09 am, 31/03/2026] L: <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" href="stylelab5.css">
</head>
<body>

<div class="divtopHeaderRow">
    <a href="JS5.html">My Account</a>
    <a href="#">Wish List</a>
    <a href="#">Shopping Cart</a>
    <a href="#">Checkout</a>
</div>

<header>
    <h1>Lily's Store</h1>
</header>

<nav class="divmainNavigationRow">
    <ul>
        <li><a href="JS5.html">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Art Works</a></li>
        <li><a href="#">Artists</a></li>
    </ul>
</nav>

<main>
    <h2>Customer Registration</h2>

    <form>
        <h3>1. User Info</h3>
        <table class="regTable">
            <tr>
                <…
[12:09 am, 31/03/2026] L: js5
